<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://img.pconline.com.cn/images/upload/upc/tx/wallpaper/1307/10/c3/23153913_1373426778427.jpg</string>
	<string>http://pic75.nipic.com/file/20150821/19200559_162650028000_2.jpg</string>
	<string>http://img2.imgtn.bdimg.com/it/u=707492813,1546256073&amp;fm=21&amp;gp=0.jpg</string>
	<string>http://img1.imgtn.bdimg.com/it/u=3933917340,3446870471&amp;fm=21&amp;gp=0.jpg</string>
</array>
</plist>
