<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://sc.jb51.net/uploads/allimg/150509/14-15050921063C35.jpg</string>
	<string>http://picm.photophoto.cn/005/008/007/0080071495.jpg</string>
	<string>http://picm.photophoto.cn/005/008/017/0080170433.jpg</string>
	<string>http://picm.photophoto.cn/005/008/007/0080073225.jpg</string>
</array>
</plist>
